@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600&family=Work+Sans:wght@700&display=swap');
body {
    font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* navbar styles start */
.nav-container{
    display: flex;
    border: 2px solid blue;
}
.nav-container h3 {
    color: #131318;
    font-size: 30px;
    font-weight: 700;
   padding-left: 20px;
}